@import '../../assets/theme.scss';

.statement {
  color: $gray;
  line-height: 1.6;
  margin: $space-40 0 $space-80 0;

  @include media-breakpoint-up(md) {
    font-size: 1.12em;
    line-height: 1.7;
    margin: $space-80 0 $space-100 0;
  }
}
