@import '../../assets/theme.scss';

.products {
  color: white;
  line-height: 1.6;
  margin: $space-30 0;

  @include media-breakpoint-up(md) {
    line-height: 1.7;
    margin: $space-80 0;
  }
}

.grid {
  margin: -20px;

  @include media-breakpoint-up(md) {
    display: flex;
    flex-wrap: wrap;
  }
}

.product {
  padding: 20px;

  @include media-breakpoint-up(md) {
    flex: 0 0 50%;
    max-width: 50%;
  }
}

.title {
  color: white;
}

.image {
  background-color: white;
  border-radius: 2px;
}
