@import '../../assets/theme.scss';

.products {
  color: white;
  line-height: 1.6;
  margin: $space-30 0;

  @include media-breakpoint-up(md) {
    line-height: 1.7;
    margin: $space-80 0;
  }
}

.title {
  color: white;
}
