@import '../../assets/theme.scss';

.partner {
  color: white;
  line-height: 1.6;
  margin: $space-30 0;

  @include media-breakpoint-up(md) {
    font-size: 1.12em;
    line-height: 1.7;
    margin: $space-80 0;
  }
}

.headline {
  font-family: $futura, sans-serif;
  font-size: 2.2em;
  font-style: italic;
  font-weight: 600;
  margin-bottom: 1em;
  text-align: center;
  text-transform: uppercase;

  span {
    color: transparent;
    -webkit-text-stroke: 1px white;
  }
}

.listing {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: -$space-15;

  & + .listing {
    margin-top: $space-60;

    @include media-breakpoint-up(md) {
      margin-top: $space-80;
    }
  }

  &[data-type='large'] {
    .item {
      max-height: 120px;
      max-width: 300px;
    }
  }
}

.item {
  align-items: center;
  display: flex;
  justify-content: center;
  max-height: 90px;
  max-width: 170px;
  opacity: .7;
  padding: $space-15;
  width: 100%;

  img {
    max-height: 100%;
    max-width: 100%;
    vertical-align: center;
  }
}



// &[data-type='large'] {
//   .item {
//     flex: 0 0 100%;
//     max-width: 100%;
//
//     img {
//       max-width: 200px;
//     }
//
//     @include media-breakpoint-up(md) {
//       flex: 0 0 calc(100% / 3);
//       max-width: calc(100% / 3);
//
//       img {
//         max-height: 90px;
//         max-width: 250px;
//       }
//     }
//   }
// }
