@import '../../assets/theme.scss';

.partner {
  color: white;
  line-height: 1.6;
  margin: $space-30 0;

  @include media-breakpoint-up(md) {
    line-height: 1.7;
    margin: $space-80 0;
  }
}

.headline {
  font-family: $futura, sans-serif;
  font-size: 2.2em;
  font-style: italic;
  font-weight: 600;
  margin-bottom: 1.2em;
  text-align: center;
  text-transform: uppercase;

  span {
    color: transparent;
    -webkit-text-stroke: 1px white;
  }
}

.listing {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: -$space-15;

  & + .listing {
    margin-top: $space-60;

    @include media-breakpoint-up(md) {
      margin-top: $space-80;
    }
  }

  &[data-type='large'] {
    .item {
      max-height: 130px;
      max-width: 320px;
      padding: 30px 20px;

      @include media-breakpoint-up(md) {
        max-height: 140px;
        max-width: 340px;
      }
    }
  }
}

.item {
  align-items: center;
  display: flex;
  justify-content: center;
  max-height: 110px;
  max-width: 170px;
  opacity: .7;
  padding: 20px $space-15;
  width: 100%;

  img {
    height: 100%;
    max-height: 100%;
    max-width: 100%;
    width: 100%;
    vertical-align: center;
  }
}

.cta {
  color: $gray;
  line-height: 1.4;
  margin: auto;
  margin-top: $space-60;
  max-width: 600px;
  text-align: center;
}

.br {
  @include media-breakpoint-up(md) {
    display: none;
  }
}
