@import '../../assets/theme.scss';

.header {
}

.logo {
  margin: $space-40 auto $space-60 auto;
  width: calc(100vw - 60px);

  @include media-breakpoint-up(md) {
    margin: $space-80 auto $space-100 auto;
    max-width: 60vw;
    width: calc(100vw - 30px);
  }

  span {
    display: none;
    height: 0;
    overflow: hidden;
    visibility: hidden;
  }
}
