@import '../../assets/theme.scss';

.footer {
  color: white;
  margin: $space-100 0 $space-80 0;
  text-align: center;

  @include media-breakpoint-up(md) {
    margin-top: 200px;
  }
}

.copyright {
  margin-bottom: $space-8;
}

.copy {
  font-size: 1.4em;
  line-height: 0;
}

.link {
  color: $gray;
  padding: $space-5 $space-10;
}
