$black: #010101;
$gray-lighter: #dedede;
$gray-light: #b1b1b1;
$gray: #aaaaaa;
$gray-dark: #222;

$orange: #fd513b;
$primary: $orange;

// gaps
$space-3: 3px;
$space-5: 5px;
$space-8: 8px;
$space-10: 10px;
$space-15: 15px;
$space-20: 20px;
$space-30: 30px;
$space-40: 40px;
$space-60: 60px;
$space-80: 80px;
$space-100: 100px;


// fonts
$roboto: 'Roboto Mono';
$futura: futura-pt;


// bootstrap
$text-color: $black;
$body-color: $text-color;
$link-color: $primary;
$link-hover-color: $orange;
$font-family-sans-serif: $roboto;
